<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365581950130-scsl42k3aqc2cltiehmln55qsregbbb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365581950130-scsl42k3aqc2cltiehmln55qsregbbb6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365581950130-076ho8ntmqn1i8ocqvmktdgnamdfs5k7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWJQZG_ieoghZojI73ig_MmTkg3Q6ejPc</string>
	<key>GCM_SENDER_ID</key>
	<string>365581950130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-46ef5</string>
	<key>STORAGE_BUCKET</key>
	<string>social-46ef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365581950130:ios:b56cf7256aab734ce5bdab</string>
</dict>
</plist>